html,
body {
    background-color: #131417;
    font-family: Roboto, sans-serif;
    min-width: 1280px;
}

/* HEADER */

.header_wrapper {
    background-color: #131417;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 1) 0 0 5px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 500;
}

.header_styled {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 20px 8%;
}

.header_text {
    display: initial;
    text-decoration: none;
}

.header_title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.header_subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

/* CONTENT */

.editor {
    position: relative;
    z-index: 10;
    margin-bottom: 300px;
    align-items: center;
    justify-content: center;
    background: #1e1f26;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 0;
}

#preview_image,
.editor_table,
.custom-btn {
    border: 3px solid #131417;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 10px 0px;
}

/* FOOTER */

.footer {
    width: 100%;
    bottom: 0px;
    z-index: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: #151414;
}

/* BUTTONS */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 10px 0px;
    outline: none;
}

.btn-16 {
    border: none;
    color: #000;
    background: #e0e5ec;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    border-radius: 5px;
    box-shadow:
        -0 -7px 20px 0px #fff9,
        -0 -4px 5px 0px #fff9,
        0 7px 20px 0px #0002,
        0 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

/* Popup */

.popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: 500ms all;
}

.popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: 1s all;
}

.popup-container {
    transform: translateY(-50%);
    transition: 500ms all;
    position: relative;
    width: 40%;
    margin: 2em auto;
    top: 15%;
    padding: 5rem;
    background: #fff;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.is-visible .popup-container {
    transform: translateY(0);
    transition: 500ms all;
}

.popup-container .popup-close {
    position: absolute;
    top: 8px;
    font-size: 0;
    right: 8px;
    width: 30px;
    height: 30px;
}

.popup-container .popup-close::before,
.popup-container .popup-close::after {
    content: "";
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.popup-container .popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.popup-container .popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.popup-container .popup-close:hover:before,
.popup-container .popup-close:hover:after {
    background-color: #35a785;
    transition: 300ms all;
}

/* editor table */

table thead th {
    border: 0;
}

table {
    width: 100%;
}

.collapsible-section-header {
    background-color: #e1e1e1;
}

.collapsible-section-header a {
    color: #363636;
    font-weight: 700;
    text-decoration: none;
}

.collapsible-section-header a:after {
    content: "\25bc";
    padding-left: 0.5em;
}

.collapsible-section-header a.collapsed:after {
    content: "\25ba";
    padding-left: 0.5em;
}

tbody td {
    background-color: #ededed;
    border: 1px solid #d1d1d1;
    padding: 1.25rem;
}

/* switch */

:root {
    --switchcolor-on: #47a8d8;
}

.switch {
    background-color: #fff;
    background-image: linear-gradient(tobottom, #eeeeee, white25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #404040;
    cursor: pointer;
    display: inline-block;
    font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 28px;
    padding: 3px;
    position: relative;
    vertical-align: top;
    width: 74px;
}

.switch-input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.switch-label {
    -moz-transition: 0.15s ease-out;
    -moz-transition-property: opacity background;
    -o-transition: 0.15s ease-out;
    -o-transition-property: opacity background;
    -webkit-transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12),
        inset 0 0 2px rgba(0, 0, 0, 0.15);
    display: block;
    font-size: 11px;
    height: 22px;
    position: relative;
    text-transform: uppercase;
    transition: 0.15s ease-out;
    transition-property: opacity background;
}

.switch-label:before {
    -moz-transition: inherit;
    -o-transition: inherit;
    -webkit-transition: inherit;
    color: #aaa;
    content: attr(data-off);
    line-height: 1;
    margin-top: -0.5em;
    position: absolute;
    right: 11px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    top: 50%;
    transition: inherit;
}

.switch-label:after {
    -moz-transition: inherit;
    -o-transition: inherit;
    -webkit-transition: inherit;
    color: #fff;
    content: attr(data-on);
    left: 11px;
    line-height: 1;
    margin-top: -0.5em;
    opacity: 0;
    position: absolute;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    top: 50%;
    transition: inherit;
}

.switch-input:checked~.switch-label {
    background: var(--switchcolor-on);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
        inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked~.switch-label:before {
    opacity: 0;
}

.switch-input:checked~.switch-label:after {
    opacity: 1;
}

.switch-handle {
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    -webkit-transition: left 0.15s ease-out;
    background: #fff;
    background-image: linear-gradient(tobottom,
            rgba(255, 255, 255, 0.4),
            #f0f0f0);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    transition: left 0.15s ease-out;
    width: 20px;
}

.switch-handle:before {
    background: #f9f9f9;
    background-image: linear-gradient(tobottom, #eeeeee, white);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    content: "";
    height: 12px;
    left: 50%;
    margin: -6px 0 0 -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}

.switch-input:checked~.switch-handle {
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    left: 50px;
}

/* stepper */

:root {
    --stepperwidth: 175px;
    --steppercolor: #eceeef;
    --steppercolor-border: rgba(0, 0, 0, 0.05);
    --steppercolor-hover: #c6c8c9;
    --steppercolor-focused: #f5f7f8;
    --steppercolor-focusedborder: rgba(0, 0, 0, 0.05);
}

.number-input-container {
    width: var(--stepperwidth);
    display: grid;
    grid-template-columns: 48px auto 48px;
    padding: 3px;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.number-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--steppercolor);
    overflow: hidden;
}

input[type="number"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 48px;
    background-color: var(--steppercolor);
    border: 1px solid var(--steppercolor-border);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-radius: none;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    transition: all 0.2s ease-out;
}

input[type="number"]:focus {
    background-color: var(--steppercolor-focused);
    border: 1px solid var(--steppercolor-focusedborder);
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 12px 16px;
    background-color: var(--steppercolor);
    border: 1px solid var(--steppercolor-border);
    border-radius: none;
    transition: all 0.1s ease-out;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transform: scale(1);
    transform: scale(1);
}

button:active,
button:focus {
    outline: none;
}

button::after {
    content: "";
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: inherit;
    background-position: center;
    background-repeat: no-repeat;
}

button:disabled {
    pointer-events: none;
}

button:disabled::after {
    opacity: 0.25;
}

.button-decrement::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 12H7' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.button-increment::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7V17' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 12H7' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.button-decrement {
    border-right: none;
}

.button-increment {
    border-left: none;
}

@media (hover: hover) {

    input[type="number"]:hover,
    button:hover {
        background-color: var(--steppercolor-hover);
    }

    button:active {
        background-color: var(--steppercolor);
        transform: translateY(1px);
    }
}